service:
  name: sls-appsync-pjs

plugins:
  - serverless-appsync-plugin
  - serverless-plugin-additional-stacks
  - serverless-iam-roles-per-function
  - serverless-plugin-include-dependencies

provider:
  name: aws
  runtime: java8
  profile: lg_sandbox # optoinal profile shold be listed in ~/.aws/credentials
  region: ${opt:region, 'us-west-2'} # optoinal
  timeout: 120
  stage: ${opt:stage, "sandbox"}

#define lambda functions here which are to be created
# functions:
#   listProducts:
#     handler: com.serverless.ListProductsHandler
  #   events:
  #     - http:
  #         path: /products
  #         method: get

custom:
  #define service/function name and other details
  base: ${self:service}-${self:provider.region}-${self:provider.stage}
  account: ${file(./config/config.${self:provider.stage}.json):account}
  lambdaStackName: ${self:custom.base}-lambda
  AppsyncFunction:
    mutation:
      resolver1:
        dataSource: realtimedata
        field: refreshProgressBar
        fullName: 'realtimedata'
        type: NONE
        desc: 'realtimedata'
        request: "request/getFileMapDetails/refreshProgressBar-item-request-mapping-template.vtl"
        response: "response/generic-response-mapping-template.vtl"         
    query:
      resolver1:
        dataSource: 'GETFILEMAP'
        field: getFileMapDetails
        fullName: 'getFileMapDetails'
        type: AWS_LAMBDA
        desc: 'getFileMapDetails lambda function'
        request: "request/getFileMapDetails/getFileMapDetails-item-request-mapping-template.vtl"
        response: "response/generic-response-mapping-template.vtl"
  

  role:
    arn: arn:aws:iam::${self:custom.account.id}:role
    baseLambdaArn: arn:aws:lambda:${self:provider.region}:${self:custom.account.id}:function
    lambda:
      name: ${self:custom.base}-Lambda-AppSyncServiceRole
      arn: ${self:custom.role.arn}/${self:custom.role.lambda.name}
    logging:
      name: ${self:custom.base}-Logging-AppSyncServiceRole
      arn:
        Fn::GetAtt:
          - AppSyncLoggingServiceRole
          - Arn

# appsync function details
  appSync: ${file(./resources/Appsync.yml):appSync}
        

resources:
  Resources:
    AppSyncLoggingServiceRole:  ${file(./resources/AppSyncLoggingServiceRole.yml):AppSyncLoggingServiceRole}