{
  "version": "2017-02-28",
  "operation": "DeleteItem",
  "key": {
    "schemeId": $util.dynamodb.toDynamoDBJson($ctx.args.input.schemeId),
    "fileMappingId": $util.dynamodb.toDynamoDBJson($ctx.args.input.fileMappingId),
  },
}